/* bodas*/
.gallery{
	padding: 30px 0px;
}

img{
max-width: 100%;
}

.gallery img{
padding: 5px;
width: auto;
box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
cursor: pointer;
}

#gallery-popup .modal-img{
width: 100%;
}