/* nosotros */
.bio-nosotros {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.nosotros-container article {
    display:inline-flex;
    padding: 50px;
    p {
        padding: 50px;
    }
}

/*.nosotros-container p {
    padding: 50px;
}*/