@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.im-principal img {
  width: 100%;
}

/* nosotros */
.bio-nosotros {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.nosotros-container article {
  display: inline-flex;
  padding: 50px;
}
.nosotros-container article p {
  padding: 50px;
}

/* bodas*/
.gallery{
	padding: 30px 0px;
}

img{
max-width: 100%;
}

.gallery img{
padding: 5px;
width: auto;
box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
cursor: pointer;
}

#gallery-popup .modal-img{
width: 100%;
}

/*quinces*/
.quinces-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 20px;
  grid-gap: 10px;
}

.xvgaleria__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*infantil*/
.gallery-infant{
	padding: 30px 0px;
}

img{
max-width: 100%;
}

.gallery-infant img{
padding: 5px;
width: auto;
box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
cursor: pointer;
}

#gallery-popup .modal-img{
width: 100%;
}


/* contacto */
form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.03);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 15px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 0, 1rem;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #bde7e0;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: white;
  font-family: "Raleway", sans-serif;
}

header {
  margin: 20px;
}
header .navbar-collapse {
  justify-content: flex-end;
}
header .nav-link {
  font-size: 1.2rem;
}

footer {
  padding: 10px;
  margin-top: 50px;
  position: static;
}

.pie-pagina {
  width: 100%;
  background-color: rgba(105, 105, 105, 0.1215686275);
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 1.3rem;
}
.pie-pagina .box p {
  color: black;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .redes ul {
  list-style: none;
  justify-content: left;
}
.pie-pagina .grupo-1 .redes ul a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: rgb(79, 79, 79);
  margin-right: 10px;
  text-align: center;
  font-size: 1.6rem;
}

.pie-pagina .grupo-2 {
  justify-content: center;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

/* MEDIA QUERIES*/
/*mobile*/
@media (max-width: 576px) {
  header {
    flex-direction: column;
  }
  header img {
    width: 90%;
  }
  /*footer*/
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
  /*bodas*/
  .bodas-container {
    grid-template-columns: 1fr;
  }
  /*quinces*/
  .quinces-container {
    grid-template-columns: 1fr;
  }
  /*Infantil*/
  .infantil-container {
    grid-template-columns: 1fr;
  }
  .nosotros-container article {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */